<%# banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= cl_image_path(@list.photo.key) %>);">
  <div class="container text-center">
    <h1> <%= @list.name %></h1>
  </div>
</div>

<div class="d-flex justify-content-end mt-3 me-3">
  <%= link_to "Add a bookmark", new_list_bookmark_path(@list), class: "btn btn-secondary me-2" %>
</div>

 <%# cards %>
<div class="container">
  <div class="cards">
    <% @bookmarks.each do |bookmark| %>
    <div class="card-bookmark">
      <%= image_tag bookmark.movie.poster_url, alt: "Poster of the movie" %>
      <h3 class="mt-4"><%= bookmark.movie.title %> - <%= bookmark.movie.rating %> <i class="fa-regular fa-star"></i></h3>
      <p class="text-center px-1"><%= bookmark.comment %></p>
      <div class="card-bookmark-buttons d-flex justify-content-evenly mt-2">
        <%= link_to "Delete", bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-outline-secondary mb-4" %>
        <%= link_to "Edit", edit_bookmark_path(bookmark), class: "btn btn-outline-secondary mb-4" %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="button-end d-flex justify-content-center mb-4">
    <%= link_to "Return to lists", lists_path, class: "btn btn-secondary me-2"  %>
    <%= link_to "Delete the list", list_path(@list),
      data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-secondary"  %>
  </div>
</div>
